{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="jumbotron bg-light p-4 my-3" ALIGN='center'>
                <h2>Modifer le mot de passe</h2>
            </div>
        </div>
        <div class="row">
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button class="btn btn-success" type="submit">Changer mot de passe</button>
                <a class="btn btn-secondary" href="{% url 'flux' %}" role="button">Retour</a>
            </form>
        </div>
    </div>
{% endblock content %}
