{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron bg-light p-2 my-2 shadow" ALIGN='center'>
                <h2>Créer un ticket</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Publier</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
