{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron bg-light p-2 my-2 shadow border"
                 ALIGN='center'>
                <h2>Bonjour, {{ request.user }}.</h2>
            </div>
        </div>
    </div>
    <div class="row my-3" ALIGN='center'>
        <div class="col">
            <a class="btn btn-info shadow" href="{% url 'create_ticket' %}"
               role="button">Demander une critique</a>
        </div>
        <div class="col">
            <a class="btn btn-info shadow" href="{% url 'create_review' %}"
               role="button">Créer une critique</a>
        </div>
    </div>
    {% for post in mixed_posts %}
    {% if post.content_type == 'TICKET' %}
    <div class="row">
        <div class="col">
            <div class="card my-2 border-secondary">
                <div class="card-body">
                    {% include 'blog/ticket_snippet.html' %}
                    {% if not post.closed %}
                    <div><a class="btn btn-primary mt-2 shadow" href="{% url 'create_review_from_ticket' post.id %}">Créer
                        une critique</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% elif post.content_type == 'REVIEW' %}
    <div class="row">
        <div class="col">
            <div class="card my-2 border-secondary">
                <div class="card-body">
                    {% include 'blog/review_snippet.html' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}
