{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron bg-light p-2 my-2 shadow" ALIGN='center'>
            <h2>Vos posts</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for ticket in tickets %}
            <p>{{ ticket.title }}</p>
            <p>{{ ticket.description }}</p>
            <p><a href="{% url 'edit_ticket' ticket.id %}">Modifier le
                ticket</a></p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
