{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron bg-light p-2 my-2 shadow border" ALIGN='center'>
                <h2>Mes posts</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for post in mixed_posts %}
            {% if post.content_type == 'TICKET' %}
            {% include 'blog/ticket_snippet.html' %}
            {% elif post.content_type == 'REVIEW' %}
            {% include 'blog/review_snippet.html' %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
