<div class="card my-2 border-secondary">
    <div class="card-body">
        {% if post.ticket.user.id == user.id %}
        <div>Vous avez publié un ticket</div>
        <div align="right" class="font-italic">{{ post.ticket.time_created }}
        </div>
        {% else %}
        <div>{{ post.ticket.user.username }} a publié un ticket</div>
        <div align="right">{{ post.ticket.time_created }}</div>
        {% endif %}
        <h3 class="card-title">{{ post.ticket.title }}</h3>
        <p class="card-text">{{ post.ticket.description }}</p>
        {% if post.ticket.image %}
        <img src="{{ post.ticket.image.url }}">
        {% endif %}
    </div>
</div>